parameters:
	ignoreErrors:
		-
			message: "#^Unable to resolve the template type TKey in call to function collect$#"
			count: 1
			path: src/CompanyInfo.php

		-
			message: "#^Unable to resolve the template type TValue in call to function collect$#"
			count: 1
			path: src/CompanyInfo.php

		-
			message: "#^Worksome\\\\CompanyInfo\\\\Facades\\\\CompanyInfo facade should not be used\\.$#"
			count: 1
			path: src/Facades/CompanyInfo.php

